
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de actividades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

  <!-- para trabajar con javascript -->
  <script type="application/json" id="actividades-data">
    {{ actividades | tojson }}
  </script>
  <script>
    const actividades = JSON.parse(document.getElementById('actividades-data').textContent);
  </script>


  <script src="{{ url_for('static', filename='js/listado.js') }}" defer></script>

</head>
<body>
  <header>
    <h1>Listado de Actividades</h1>
    <nav>
      <ul class="menu">
        <li><a href="{{ url_for('index') }}">Portada</a></li>
        <li><a href="{{ url_for('agregar') }}">Agregar Actividad</a></li>
        <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-container">
    <section>
      <h2>Listado de Actividades</h2>
      <table>
        <thead>
          <tr>
            <th>Inicio</th>
            <th>Término</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Tema</th>
            <th>Organizador</th>
            <th>Fotos</th>
          </tr>
        </thead>
        <tbody>
          {% for act in actividades %}
          <tr onclick="mostrarDetalle('{{ loop.index0 }}')">
            <td>{{ act.inicio }}</td>
            <td>{{ act.termino }}</td>
            <td>{{ act.comuna }}</td>
            <td>{{ act.sector }}</td>
            <td>{{ act.tema }}</td>
            <td>{{ act.organizador }}</td>
            <td>{{ act.foto_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="paginacion" style="text-align:center; margin: 20px 0;">
        {% if pagination.has_prev %}
          <a href="{{ url_for('listado', page=pagination.prev_num) }}" class="boton-volver">Anterior</a>
        {% endif %}

        <span style="margin: 0 15px;">Página {{ pagination.page }} de {{ pagination.total_pages }}</span>

        {% if pagination.has_next %}
          <a href="{{ url_for('listado', page=pagination.next_num) }}" class="boton-volver">Siguiente</a>
        {% endif %}
      </div>

      <section id="detalle-actividad" style="display:none;">
        <h2 style="display:none;">Detalle de Actividad</h2>
      </section>

      <dialog id="foto-dialog">
        <img id="foto-grande" src="{{ url_for('static', filename='img/placeholder.png') }}" width="800" height="600" alt="Foto ampliada">
        <br>
        <button onclick="cerrarFoto()">Cerrar</button>
      </dialog>
      
    </section>
  </main>
</body>
</html>
