<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"  
      th:fragment="layout(title)">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Título</title>
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
  <header th:insert="~{this :: navbar}"></header>
  <main th:insert="~{::content}"></main>
</body>
</html>

<div th:fragment="navbar">
  <nav>
    <ul class="menu">
      <li><a th:href="@{/evaluaciones}">Evaluaciones</a></li>
    </ul>
  </nav>
</div>
